@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--main-background-color: #222;
	--main-font-color: #fdfdfd;
	--first-accent-color: #23d183;
	--second-accent-color: #06ace8;
	--main-gradient: linear-gradient(
		135deg,
		var(--first-accent-color) 0%,
		var(--second-accent-color) 100%
	);
	--title-font: "Share Tech Mono", monospace;
	--subheader-font: "Roboto", sans-serif;
	--header-font: "Poppins", sans-serif;
	--body-font: "Nunito", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--main-background-color);
	color: var(--main-font-color);
	width: 100vw;
	min-height: 300vh;
}

#introNav {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--header-font);
	font-size: 2.5rem;
	z-index: 100;
	text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.9);
}

#introNav .navButton {
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
	text-align: right;
	transition: all 0.25s ease-in-out;
	border-right: 0px solid var(--main-font-color);
	padding-right: 1rem;
	animation-name: bounceInFromRight;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
}
/* Remove default scroll bar */
::-webkit-scrollbar {
	display: none;
}
#introNav .navButton:hover {
	color: var(--second-accent-color);
	padding-right: 5rem;
	border-right: 0.5rem solid var(--second-accent-color);
}

#introNav .navButton.selected {
	color: var(--first-accent-color);
	padding-right: 3rem;
	border-right: 0.5rem solid var(--first-accent-color);
}

nav {
	position: sticky;
	top: 0;
	left: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 2px 8px 15px 0 rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 100;
	/* makes the bottom left corner have a border radius of 5 rem */
	border-bottom-left-radius: 3rem;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
}

nav .navButton {
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	border-right: 0px solid var(--main-font-color);
	padding-right: 1rem;
	font-family: var(--header-font);
	font-size: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

nav .navButton:hover {
	color: var(--second-accent-color);
	background-color: rgba(0, 0, 0, 0.2);
}

nav .navButton.selected {
	color: var(--first-accent-color);
}

nav.hidden {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
}

h1 {
	font-size: 3rem;
	text-align: center;
	font-family: var(--title-font);
}

h3 {
	font-size: 1.25rem;
	font-weight: lighter;
	text-align: center;
	font-family: var(--subheader-font);
}

h2 {
	font-size: 5rem;
	font-weight: normal;
	margin-left: 1rem;
	position: relative;
	font-family: var(--subheader-font);
	/* border-bottom: solid 1px var(--first-accent-color); */
}

h2::after {
	/* make the content the content of the parent  */
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* linear gradient from first to second accent color */
	background: linear-gradient(
		90deg,
		var(--first-accent-color) 0%,
		var(--second-accent-color) 100%
	);
	display: inline-block;
	width: auto;
	/* CLip background to text */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scaleX(1.04) scaleY(1.04) translateY(2%);
	z-index: -1;
}

header {
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
	padding-left: 2rem;
	box-shadow: inset 0 -0.5rem 5rem 1rem rgba(0, 0, 0, 0.75);
}

#introText {
	padding: 1rem;
	border-radius: 2rem;
	animation: fadeInFromLeft 1s ease-in-out forwards;
}

#introPicture {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow: hidden;
	z-index: -1;
	top: 0;
	left: 0;
	animation: fadeIn 1.5s ease-in-out forwards;
}

.introPicture {
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#introForeground {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	filter: drop-shadow(1rem 0 1.5rem rgba(0, 0, 0, 0.5));
}

#introBackground {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: blurOutOfFocus 10s ease-in-out infinite;
	z-index: -1;
}

/* Blur out of focus */
@keyframes blurOutOfFocus {
	0% {
		filter: blur(15px);
	}
	50% {
		filter: blur(20px);
	}
	100% {
		filter: blur(15px);
	}
}

#socialBar {
	width: 100%;
	height: 2rem;
	margin-top: 1rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.socialIcon {
	height: 100%;
	aspect-ratio: 1;
	margin-left: 1rem;
	margin-right: 1rem;
	display: grid;
	place-items: center;
	cursor: pointer;
}

.socialIcon svg {
	width: 100%;
	height: 100%;
	fill: var(--main-font-color);
	transition: fill 0.5s ease-in-out;
}

#Github:hover {
	fill: #2ab13e;
}

#LinkedIn:hover {
	fill: #0b62a6;
}

#Instagram:hover {
	fill: #d30b69;
}

#Twitter:hover {
	fill: #579cee;
}

#Youtube:hover {
	fill: #be0a19;
}

#Reddit:hover {
	fill: #fc2c07;
}

#Facebook:hover {
	fill: #314e9c;
}

.glassy {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 2px 8px 15px 0 rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

@keyframes fadeInFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
		/* filter: blur(100px); */
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		/* filter: blur(0px); */
	}
}

@keyframes bounceInFromRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
		border: none;
	}
	75% {
		opacity: 1;
		transform: translateX(-10%);
		border: none;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		filter: blur(150px);
	}
	100% {
		opacity: 1;
		filter: blur(0px);
	}
}
